.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(30%);
    transition: all 1.5s;
}

.hidden3 {
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.7);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.about-containers {
    display: flex;
}

.about-containers .flip-card:nth-child(2) {
    transition-delay: 200ms;
}

.flip-card:nth-child(3) {
    transition-delay: 400ms;

}

.flip-card:nth-child(4) {
    transition-delay: 600ms;

}