/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

section{
  padding-top: 4vh;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container{
  display: flex;
}

#logo-span{
    color: #396460;
  }

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
